@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

/* VARIABLES */

:root{
    --text-color-light: rgb(255, 255, 255);
    --bg-color-primary: rgb(200, 240, 255);
    --bg-color-menu_text-color-dark: rgba(24, 118, 173, 0.75);
    --bg-menu-gradient: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(16, 74, 107, 0.75));
    --bg-menu-gradient-reverse: linear-gradient(to bottom, #ffffff00, #000f418c);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Zalando Sans Expanded", sans-serif;
}





.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
h2, h3 {
  margin: 0 0 1rem;
}
.section {
  background: #fff;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 4px;
}
label {
  display: block;
  font-weight: 500;
  margin-bottom: .5rem;
}
input, select {
  width: 100%;
  padding: .75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.btn {
  cursor: pointer;
  font-size: 1rem;
  padding: .75rem 1rem;
  border-radius: 10px;
  border: 2px solid #2f5360;
  background: none;
  color:#2f5360;
;
  transition: background .2s, color .2s;
}
.btn:hover {
  background: #f0f0f0;
}
.btn--primary {
  background: #2f5360;
  color: #fff;
}
.btn--primary:hover {
  background: #fff;
  color: #2f5360;
}
.btn--link {
  background: none;
  border: none;
  color: #000;
  padding: 0;
  font-size: .95rem;
  text-decoration: underline;
  margin-bottom: 1rem;
}
.btn--full {
  width: 100%;
}

.row {
  display: flex;
  gap: 1rem;
}
.row--align-center {
  align-items: center;
  justify-content: flex-start;
}
.row--no-wrap {
  flex-wrap: nowrap;
}
.label--inline {
  display: inline-block;
  margin-left: .5rem;
}
input[type=checkbox] {
  margin: 0;
  flex: 0 0 auto;
}

.checkout__content {
  display: flex;
  gap: 2rem;
}
.checkout__left {
  flex: 1;
}

.section--pago .card {
  position: relative;
  border: 1px solid #ddd;
  padding: 2rem;
  border-radius: 4px;
  margin-bottom: 0;
}
.card__label {
  margin-bottom: 1rem;
  font-weight: 900;
  font-size: 0.9rem;
}

.card__subtitle{
  font-weight: 900;
  font-size: 0.9rem;
}

.card-logo {
  position: absolute;
  top: 2.05rem;
  right: 2rem;
  display: flex;
  gap: .5rem;
}
.card-logo img {
  height: 18px;
}

