@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* VARIABLES */

:root{
    --text-color-light: rgb(255, 255, 255);
    --bg-color-primary: rgb(200, 240, 255);
    --bg-color-menu_text-color-dark: rgba(6, 33, 90, 0.493);
    --bg-menu-gradient: linear-gradient(to top, #ffffff00, #000f41);
    --bg-menu-gradient-reverse: linear-gradient(to bottom, #ffffff00, #000f418c);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: "Michroma", sans-serif; */
    font-family: "Montserrat", sans-serif;
}

body{
  background-color: var(--bg-color-menu_text-color-dark);
}

h1{
  font-size: 2rem;
}

h3{
  font-size: 1rem;
}

a{
  text-decoration: none;
}


.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.5rem;
  background: var(--bg-menu-gradient);
  color: var(--text-color-light);
  padding: 1rem;
  width: 100%;
  position: fixed;
  z-index: 999;
}

button {
  all: unset; 
  background-color: transparent;
  color: inherit; 
  font: inherit; 
  cursor: pointer; 
  padding: 0.5rem 1rem; 
  border: none; 
}


.header-section {
  flex: 1;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: var(--text-color-light);
  text-decoration: none;
}


/* Botón menú móvil */
.menu-toggle {
  display: none;
  border: none;
  /* padding: 0.5rem 1rem; */
  cursor: pointer;
}

/* Menú desplegable móvil */


.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 29vh;
  margin-top: 8rem;
  background: var(--bg-menu-gradient-reverse);
  z-index: 990;
  justify-content: center;
  align-items: center;
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.mobile-menu ul li {
  margin: 1.5rem 0;
}

.mobile-menu ul li a {
  color: white;
  text-decoration: none;
}


.mobile-menu.show {
  display: flex;
}

/* CUENTA ATRÁS */

.cuenta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.cuenta-container.hide {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}

.tiempo {
  display: flex;
  gap: 2rem;
  color: var(--text-color-light);
}

.unidad {
  text-align: center;
}

.unidad span {
  display: block;
  font-size: 1rem;
  color: var(--color-2);
  font-weight: normal;
}

.tiempo h1 {
  font-size: 2vw;
  font-weight: bold;
  color: var(--text-color-light);
  margin: 0;
}

.tiempo h3 {
  font-size: 1vw;
  font-weight: normal;
  color: var(--text-color-light);
  margin: 0;
}


.logo-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10.5vh;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.logo3D{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  /* height: 10rem; */
}

.logo3D img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.big-foto{
  display: flex;
  height: 100vh;
}

.big-foto img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

/* INFO */

#info {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
}

.info-container p{
    color: #ffffff;
}

.titulo {
    font-size: 4rem;
    white-space: nowrap;
    max-width: 100%;
}

.info-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 4rem;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    background-color: var(--bg-color-menu_text-color-dark);
    border-radius: 15px;
}

.info-imagen{
  display: flex;
  flex-direction: column;

}

.info-imagen img {
    width: 400px;
    height: auto;
    object-fit: cover;
    display: flex;
}

.como-llegar {
  background-color: black;
  color: #ffffff;
  padding: 1rem;
}

.como-llegar:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

/* BONOS */

#bonos{
  height: 80vh;
  background-color: #000000;
}


/* ARTISTAS */

#artistas{
  height: 100vh;
  background-color: var(--bg-color-menu_text-color-dark);
}



/* MEDIAQUERIES----- */


@media (max-width: 857px) {
  nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #info {
    flex-direction: column;
  }

  .tiempo h1 {
    font-size: 2rem;
  }

  .tiempo h3 {
    font-size: 0.6rem;
  }


 
}


@media (max-width: 592px) {
  .main-header {
    flex-direction: column;
    /* justify-content: space-between; */
  }

  .cuenta-container {
  padding-bottom: 1.7rem;
  }

  #menu-inv {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .mobile-menu.show {
    display: block;
  }

  .tiempo h1 {
    font-size: 1.5rem;
  }

 

}
