@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/* VARIABLES */

:root{
    --text-color-light: rgb(255, 255, 255);
    --bg-color-primary: rgb(200, 240, 255);
    --bg-color-menu_text-color-dark: rgba(9, 51, 139, 0.521);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Michroma", sans-serif;
    
}

h1{
  font-size: 2rem;
}

h3{
  font-size: 1rem;
}


.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background: var(--bg-color-menu_text-color-dark);
  color: var(--text-color-light);
  padding: 1rem;
  width: 100%;
  position: fixed;
  z-index: 999;
}

button {
  all: unset; 
  background-color: transparent;
  color: inherit; 
  font: inherit; 
  cursor: pointer; 
  padding: 0.5rem 1rem; 
  border: none; 
}


.header-section {
  flex: 1;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: var(--text-color-light);
  text-decoration: none;
}


/* Botón menú móvil */
.menu-toggle {
  display: none;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* Menú desplegable móvil */

.container-mobile-menu{
    display: flex;
    align-items: center;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 25vh;
  margin-top: 6rem;
  background: var(--bg-color-menu_text-color-dark);
  z-index: 990;
  justify-content: center;
  align-items: center;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.mobile-menu ul li {
  margin: 1.5rem 0;
}

.mobile-menu ul li a {
  color: white;
  text-decoration: none;
}


.mobile-menu.show {
  display: flex;
}

/* CUENTA ATRÁS */

.cuenta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.cuenta-container.hide {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}

.tiempo {
  display: flex;
  gap: 2rem;
  color: var(--text-color-light);
}

.unidad {
  text-align: center;
}

.unidad span {
  display: block;
  font-size: 1rem;
  color: var(--color-2);
  font-weight: normal;
}

.tiempo h1 {
  font-size: 2vw;
  font-weight: bold;
  color: var(--text-color-light);
  margin: 0;
}

.tiempo h3 {
  font-size: 1vw;
  font-weight: normal;
  color: var(--text-color-light);
  margin: 0;
}

.relleno{
  height: 80rem;
  width: 100%;
  background-color: lightsteelblue;
}

.logo-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.logo3D{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  /* height: 10rem; */
}

.logo3D img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.big-foto{
  display: flex;
  height: 100vh;
}

.big-foto img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}






/* MEDIAQUERIES----- */


@media (max-width: 857px) {
  nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


 
}


@media (max-width: 592px) {
  .main-header {
    flex-direction: column;
    justify-content: space-between;
  }

  #menu-inv {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .mobile-menu.show {
    display: block;
  }

  .tiempo h1 {
    font-size: 3vw;
  }

  .tiempo h3 {
    font-size: 2vw;
  }
}
