@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

/* VARIABLES */

:root{
    --text-color-light: rgb(255, 255, 255);
    --bg-color-primary: rgb(200, 240, 255);
    --bg-color-menu_text-color-dark: rgba(6, 33, 90, 0.493);
    --bg-menu-gradient: linear-gradient(to top, #ffffff00, #000f41);
    --bg-menu-gradient-reverse: linear-gradient(to bottom, #ffffff00, #000f418c);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Zalando Sans Expanded", sans-serif;
}

body{
  background-color: var(--bg-color-menu_text-color-dark);
}

h1{
  font-family: "Rock Salt", cursive;
  font-size: 2rem;
  color: #ffffff;
}

h2{
  color: #ffffff;
  font-size: 1.5rem;
}

h3{
  font-size: 1rem;
}

h4{
  font-family: "Rock Salt", cursive;
  font-size: 1.3rem;
  color: #ffffff;
}

a{
  text-decoration: none;
}


.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  background: var(--bg-menu-gradient);
  color: var(--text-color-light);
  padding: 1rem;
  width: 100%;
  position: fixed;
  z-index: 999;
}

button {
  all: unset; 
  background-color: transparent;
  color: inherit; 
  font: inherit; 
  cursor: pointer; 
  padding: 0.5rem 1rem; 
  border: none; 
}


.header-section {
  flex: 1;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: var(--text-color-light);
  text-decoration: none;
}


/* Botón menú móvil */
.menu-toggle {
  display: none;
  border: none;
  /* padding: 0.5rem 1rem; */
  cursor: pointer;
}

/* Menú desplegable móvil */


.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 29vh;
  margin-top: 8rem;
  background: var(--bg-menu-gradient-reverse);
  z-index: 990;
  justify-content: center;
  align-items: center;
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.mobile-menu ul li {
  margin: 1.5rem 0;
}

.mobile-menu ul li a {
  color: white;
  text-decoration: none;
}


.mobile-menu.show {
  display: flex;
}

/* CUENTA ATRÁS */

.cuenta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.cuenta-container.hide {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}

.tiempo {
  display: flex;
  gap: 2rem;
  color: var(--text-color-light);
}

.unidad {
  text-align: center;
}

.unidad span {
  display: block;
  font-size: 1rem;
  color: var(--color-2);
  font-weight: normal;
}

.tiempo h1 {
  font-size: 2vw;
  font-weight: bold;
  color: var(--text-color-light);
  margin: 0;
}

.tiempo h3 {
  font-size: 1vw;
  font-weight: normal;
  color: var(--text-color-light);
  margin: 0;
}

.contenedor-portada{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
}

.lugar-fecha{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big-foto{
  display: flex;
  height: 100vh;
  z-index: 1;
}

.big-foto img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.logo-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10.5vh;
  margin-top: 3.7rem;
  position: sticky;
  top: 0;
  z-index: 99999;
}

.logo3D{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11rem;
  /* height: 10rem; */
}

.logo3D img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}


/* INFO */

#info {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
}

.info-container p{
    color: #ffffff;
}

.titulo {
    font-size: 4rem;
    white-space: nowrap;
    max-width: 100%;
}

.info-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 4rem;
    align-items: center;
    max-width: 40rem;
    flex-wrap: wrap;
    background-color: var(--bg-color-menu_text-color-dark);
    border-radius: 15px;
}

.info-imagen{
  display: flex;
  flex-direction: column;

}

.container-info-img{
  width: 25rem;
  height: auto;
}

.info-imagen img {
    width: 100%;
    height: 100%; 
}

.como-llegar {
  background-color: black;
  color: #ffffff;
  padding: 1rem;
}

.como-llegar:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

/* BONOS */

#bonos{
  height: 80vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#bonos h1{
  padding-top: 2rem;
}

.hielo-bonos{
  display: flex;
  width: 25rem;
  height: auto;
  position: relative;
}

.hielo-bonos img{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
.circ {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--text-color-light);
  z-index: 1;
}

.c1 {
  left: 160px;
  top: 200px;
  animation: pulse 1s infinite;
  transform-origin: center;
}

.c2 {
  left: 70px;
  top: 440px;
  animation: pulse 1s infinite;
  transform-origin: center;
}

.c3 {
  left: 280px;
  top: 550px;
  animation: pulse 1s infinite;
  transform-origin: center;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#modalWindow h1{
  color: var(--bg-color-menu_text-color-dark);
  padding-top: 0rem;
}

#modalText{
  margin: 1rem 0;
}

#modalWindow {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;

    /* Esto permite animar la propiedad display de none a block */
    transition: all 0.3s ease-in-out;
    transition-behavior: allow-discrete;
}

#modalWindow.show-modal {
    display: block;
    opacity: 1;
}

#modalWindow .modal-content {
    color: rgb(0, 29, 107);
    background-color: aliceblue;
    margin: 20rem auto;
    padding: 20px;
    border: 1px solid black;
    max-width: 564px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.4rem;
}


#modalWindow .modal-content .close {
    color: var(--accent-color);
    font-size: 2rem;
    font-weight: bold;
    align-self: flex-end;
    cursor: pointer;
    margin-right: 10px;
}



/* ARTISTAS */

#artistas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  background-color: var(--bg-color-menu_text-color-dark);
}

.imagen-artista{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nom-artistas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  height: 10rem;
  width: 30rem;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--bg-color-menu_text-color-dark);
  border-radius: 15px;
}

.row{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}



/* MEDIAQUERIES----- */


@media (max-width: 857px) {
  nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-cont{
    height: 9vh;
    margin-top: 2.2rem;
  }

  .logo3D{
    width: 8rem;
  }

  #info {
    flex-direction: column;
  }

  .tiempo h1 {
    font-size: 1.4rem;
  }

  .tiempo h3 {
    font-size: 0.6rem;
  }

  #bonos h1{
    font-size: 1.6rem;
  }

  .hielo-bonos{
    width: 23rem;
  }

  .c1 {
    left: 160px;
    top: 200px;
  }

  .c2 {
    left: 50px;
    top: 400px;
  }

  .c3 {
    left: 260px;
    top: 500px;
  }


 
}


@media (max-width: 592px) {
  .main-header {
    flex-direction: column;
    /* justify-content: space-between; */
  }

  .cuenta-container {
    padding-bottom: 0.7rem;
  }

  .container-info-img{
    width: 20rem;
  }

  .logo-cont{
    height: 4vh;
   
  }

  .logo3D{
    width: 5.5rem;
  }

  #menu-inv {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .mobile-menu.show {
    display: block;
  }

  .tiempo h1 {
    font-size: 1.5rem;
  }

  #bonos h1{
  font-size: 1.3rem;
  }

  .hielo-bonos{
  width: 20rem;
  }

   .c1 {
    left: 140px;
    top: 160px;
  }

  .c2 {
    left: 40px;
    top: 320px;
  }

  .c3 {
    left: 220px;
    top: 440px;
  }

 

}
